---
// library imports
import { Image } from "@astrojs/image/components";

// component imports
import Link from "./Link.astro";

// utils imports
import { slugify, formatDate } from "../js/utils";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, date, author, image, description, category } = frontmatter;
---

<article class="card" data-aos="zoom-in" data-aos-delay="0" data-aos-duration="300">
  <small>
    <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
  </small>
  <a href={url} aria-hidden="true" tabindex="-1">
    <Image
      src={image.src}
      alt={image.alt}
      width="425"
      height="250"
      format="webp"
      fit="cover"
      quality={80}
      aspectRatio="4:1"
    />
  </a>
  <div class="content" data-aos="fade-in" data-aos-delay="250" data-aos-duration="300">
    <div>
      <Tag class="h3">
        <a href={url}>{title}</a>
      </Tag>
      <small>
        by <a href={`/author/${slugify(author)}/`}>{author}</a> • {
          formatDate(date)
        }
      </small>
    </div>
    <p>{description}</p>
    <Link href={url} text="Read Post" style="secondary" />
  </div>
</article>
