---
// component imports
import Seo from "../components/Seo.astro";
const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="src/icons/logomark.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  
  <!-- ads ggl -->
  <meta name="google-adsense-account" content="ca-pub-5370518478483298">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5370518478483298"
    crossorigin="anonymous"></script>
  <!-- /ads -->

  <!-- seo -->
  <Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />
  <link rel="preload" href="../styles/global.css" as="style">
  <!-- font (with optical size => render quality HIGH)-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&display=swap" rel="stylesheet">
  <!-- bootstrap icons -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  />
  <!-- aos animation -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
</head>